<div class="row">
  <h2>Iniciar Sesión</h2>
</div>
<div style="width: 80%;margin: 0 auto;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field center-xs">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true , class: "forma"%>
    </div>

    <div class=" center-xs">
      <%= f.label  'Contraseña' %><br />
      <%= f.password_field :password, autocomplete: "off", class: "forma" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field center-xs">
        <%= f.check_box :remember_me %>
        <%= f.label 'Recordar' %>
      </div>
    <% end -%>

    <div class="actions center-xs">
      <%= f.submit "Iniciar Sesión" %>
    </div>
  <% end %>
  <div class="center-xs">
    <%= render "devise/shared/links" %>
  </div>
</div>

