<div class="row center-xs">
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div class="field center-xs">
    <p>
      <strong>Nombre:</strong>
      <%= @product.name %>
    </p>
  </div>
</div>
<div class="row">
  <div class="field center-xs">
    <p>
      <strong>Precio:</strong>
      <%= @product.price %>
    </p>
  </div>
</div>
<div class="row">
  <div class="field center-xs">
    <p>
      <strong>Descripción:</strong>
      <%= @product.description %>
    </p>
  </div>
</div>
<div class="row">
  <div class="field center-xs">
    <p>
      <strong>Garantía:</strong>
      <%= @product.warranty %>
    </p>
  </div>
</div>
<div class="row">
  <div class="field center-xs">
    <p>
      <strong>Tipo cuero:</strong>
      <%= @product.type_leather %>
    </p>
  </div>
</div>
<div class="row">
  <div class="field center-xs">
    <%= image_tag @product.photo1.url(:mini) %>
    <%= image_tag @product.cover.url(:mini) %>
    <%= image_tag @product.photo2.url(:mini) %>
  </div>
</div>  
<div class="row">
  <div class="field center-xs">
   <% if user_signed_in? %>
    <%= link_to 'Editar', edit_product_path(@product), class: "btn btn-primary btn-xl page-scroll" %> |
    <% end %>
    <%= link_to 'Atras', root_path , class: "btn btn-primary btn-xl page-scroll"%>
  </div>
</div>










